<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="generator" content=
  "HTML Tidy for Linux/x86 (vers 25 March 2009), see www.w3.org" />

  <title>Ohio Rockets Track and Field
  Club</title><%= stylesheet_link_tag    "application", media: 'all' %><%= javascript_include_tag "application" %><%= csrf_meta_tags %>
  <style type="text/css">
/*<![CDATA[*/
  body.c2 {background-color: #f2f3f7}
  div.c1 {margin-left: 40px;}
  /*]]>*/
  </style>
</head>

<body class="<%= controller.controller_name %> c2">
  <div id="wrapper">
    <div id="bg">
      <div class="c1" id="header"></div>

      <div id="page">
        <div id="container">
          <!-- Title -->

          <div id="topTitle"></div><!-- banner -->

          <div id="banner"></div><!-- end banner -->
          <!-- horizontal navigation -->

          <div id="nav1">
            <ul>
              <li><%= link_to 'HOME', welcome_index_path %></li>
              <li><%= link_to 'TRACK MEETS', meet_names_path %></li>
              <li><%= link_to 'OHIO ROCKET ROSTER', athletes_path %></li>
              <li><%= link_to 'FIND ATHLETE RESULTS', results_path %></li>
              <li><%= link_to 'MEET RESULTS', meets_path %></li>
            </ul>
          </div><!-- end horizontal navigation --><!-- content -->

          <div id="content">
          	
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
